.logo {
  height: 100%;              /* Take full height of parent */
  width: 100%;               /* Optional: take full width of parent if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex:1;
}

.logoImg {
  max-height: 100%;          /* Scale image to fit container’s height */
  max-width: 100%;           /* Prevent horizontal overflow */
  object-fit: contain;       /* Maintain aspect ratio without cropping */
  display: block;
  width:auto;
  height:auto;
}
