.logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
    /* --- ADD THESE LINES --- */
    min-width: 0;
    min-height: 0; 
    /* ----------------------- */
}

.logoImg {
    max-height: 19svh;
    max-width: 100%;
    object-fit: contain; 
    width:100%;
    height: auto;
}